/*
Variáveis para cores
--main-bg
--text
--text-darkmode
--highlight
--highlight-darkmode
--card-bg

#609AE0
#CAE060
#6B60E0
#E0CD60
#6D6A8B
#545A61

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --main-bg: #dcecff;
    --text: #222527;
    --text-darkmode: #fbffe6;
    --highlight: #6B60E0;
    --highlight-darkmode: #E0CD60;
    --highlight-darkmode-extra: #CAE060;
    --highlight-darkmode-bg: #e06080;
    --card-bg:#545A61;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--main-bg);
    color: var(--text);
}

header {

    background-color: var(--highlight);
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;    
}

nav#menu a {
    text-decoration: none;
    color: var(--text-darkmode);
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 5px;    
    transition: color 0.5s, background-color 0.3s;
}

nav#menu a:hover {
    background-color: var(--highlight-darkmode);
    color: var(--highlight);
}


svg.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;  
  transition: color 0.3s ease; /* transição suave */  
}

a svg.icon {
    color: var(--card-bg);    
}

a svg.icon:hover {
    color: var(--highlight);    
 }

 #social > a {
    text-decoration: none;
 } 