/*
Variáveis para cores
--main-bg
--text
--text-darkmode
--highlight
--highlight-darkmode
--card-bg

#609AE0
#CAE060
#6B60E0
#E0CD60
#6D6A8B
#545A61

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --main-bg: #dcecff;
    --text: #222527;
    --text-darkmode: #fbffe6;
    --highlight: #6B60E0;
    --highlight-50: #6b60e07f;
    --highlight-darkmode: #E0CD60;
    --highlight-darkmode-extra: #CAE060;
    --highlight-darkmode-bg: #e06080;
    --card-bg:#545A61;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--main-bg);
    color: var(--text);
}

header {

    background-color: var(--highlight);
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;    
}

nav#menu a {
    text-decoration: none;
    color: var(--text-darkmode);
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 5px;    
    transition: color 0.5s, background-color 0.3s;
}

nav#menu a:hover {
    background-color: var(--highlight-darkmode);
    color: var(--highlight);
}


main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;    
    gap: 20px;
    margin-top: 20px;
}

section#profile {
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;

}

section#profile img.photo {
  width: 100%; /* 100% wrapper */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 40%;
  border: 10px solid transparent;
  display: block;
  margin: auto; /* remove extra bottom space */
}

/* Wrapper que vai receber o pseudo-elemento */
section#profile .profile-photo-wrapper {
  position: relative;  
  width: 240px; /* a largura vai pro wrapper agora */
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

/* Pseudo-elemento para simular o outline */
section#profile .profile-photo-wrapper::after {
  content: '';
  position: absolute;
  top: -10px;    /* mesmo valor do "outline" que você quer */
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid var(--highlight);
  border-radius: 40%; /
  pointer-events: none;
}

section#profile h1 {
    color: var(--highlight);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: center;
}

section#profile p {
padding: 10px;
margin-bottom: 10px;
text-align: justify;

}


section#social {
    
    display: flex; 
    justify-content: center;
    align-items: center;    
    border-top: 2px solid rgba(0, 0, 0, 0.364);  
    border-bottom: 2px solid rgba(0, 0, 0, 0.364);
    transform: scale(1.0);
    box-shadow:  0 0 2px rgba(50, 50, 50, 0.5),
                inset 0 0 5px rgba(50, 50, 50, 0.5);
    background-color: rgba(0, 0, 0, 0.045);
    transition: transform 1.2s ease-out, background-color 1.2s ease, box-shadow 1.2s ease-out;    
}


svg.icon {
  width: 50px;
  height: 50px;    
  vertical-align: middle;
  justify-content: center;
  padding: 8px;
  
  transition: color 0.3s ease;
}

section#social:has(a:hover) {
    transform: scale(1.015);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5),
        inset 0px 0px 25px 5px  rgba(95, 95, 95, 0.274);

    background-color: rgba(249, 249, 249, 0.211);
    transition: transform .2s ease-in, background-color 0.35s ease, box-shadow .5s ease-out;
}


a svg.icon {
    color: var(--card-bg);    
}

a svg.icon:hover {
    color: var(--highlight);    
 }

 section#social a {
    text-decoration: none;
    position: relative;
 }

 /* Linha superior */
section#social a::before {
    content: '';
    position: absolute;
    top: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px -3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Linha inferior */
section#social a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px 3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 1.7s ease-out;
    
}


section#social a:hover::before {
    background: var(--highlight);
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);

}

section#social a:hover::after {
    background: var(--highlight);
 
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);
}

/** One icon only reference (GitHub) 
section#social a.github:hover::before {
    background: #333;
    box-shadow: 0 -5px 10px rgba(51, 51, 51, 0.5);
}

section#social a.github:hover::after {
    background: #333;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);} /*