/*
Variáveis para cores
--main-bg
--text
--text-darkmode
--highlight
--highlight-darkmode
--card-bg

#609AE0
#CAE060
#6B60E0
#E0CD60
#6D6A8B
#545A61

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Orbitron';
    src: url('../media/fonts/Orbitron-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --back-bg: #eee;
    --main-bg: #dcecff;
    --text: #222527;
    --text-darkmode: #fbffe6;
    --highlight: #6B60E0;
    --highlight-50: #6b60e07f;
    --highlight-darkmode: #E0CD60;
    --highlight-darkmode-extra: #CAE060;
    --highlight-darkmode-bg: #e06080;
    --card-bg:#dbdee0;
    --button-idle: #545A61;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--back-bg);
    color: var(--text);
    
}

header {

    background-color: var(--highlight);
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;    
}

nav#menu a {
    text-decoration: none;
    color: var(--text-darkmode);
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 5px;    
    transition: color 0.5s, background-color 0.3s;
}

nav#menu a:hover {
    background-color: var(--highlight-darkmode);
    color: var(--highlight);
}


main {    
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;    
    gap: 20px;
    overflow-x: clip; /* ! ■ ■ ■ CAUTION ■ ■ ■ */   
}

section#profile {
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    grid-column: 2;
    padding-top: 30px;

}

section#profile img.photo {
  width: 100%; /* 100% wrapper */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 40%;
  border: 10px solid transparent;
  display: block;
  margin: auto; /* remove extra bottom space */
  
}

/* Wrapper que vai receber o pseudo-elemento */
section#profile .profile-photo-wrapper {
  position: relative;  
  width: 240px; /* a largura vai pro wrapper agora */
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

/* Pseudo-elemento para simular o outline */
section#profile .profile-photo-wrapper::after {
  content: '';
  position: absolute;
  top: -10px;    /* mesmo valor do "outline" que você quer */
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid var(--highlight);
  border-radius: 40%; /
  pointer-events: none;
}

section#profile h1 {
    color: var(--highlight);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: center;
}

section#profile p {
padding: 10px;
margin-bottom: 10px;
text-align: justify;

}


section#social {
    
    display: flex; 
    justify-content: center;
    align-items: center;    
    border-top: 2px solid rgba(0, 0, 0, 0.364);  
    border-bottom: 2px solid rgba(0, 0, 0, 0.364);
    transform: scale(1.0);
    box-shadow:  0 0 2px rgba(50, 50, 50, 0.5),
                inset 0 0 5px rgba(50, 50, 50, 0.5);
    background-color: rgba(0, 0, 0, 0.045);
    transition: transform 1.2s ease-out, background-color 1.2s ease, box-shadow 1.2s ease-out;    
}


svg.icon {
  width: 50px;
  height: 50px;    
  vertical-align: middle;
  justify-content: center;
  padding: 8px;
  
  transition: color 0.3s ease;
}

section#social:has(a:hover) {
    transform: scale(1.015);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5),
        inset 0px 0px 25px 5px  rgba(95, 95, 95, 0.274);

    background-color: rgba(249, 249, 249, 0.211);
    transition: transform .2s ease-in, background-color 0.35s ease, box-shadow .5s ease-out;
}


a svg.icon {
    color: var(--button-idle);    
}

a svg.icon:hover {
    color: var(--highlight);    
 }

 section#social a {
    text-decoration: none;
    position: relative;
 }

 /* Linha superior */
section#social a::before {
    content: '';
    position: absolute;
    top: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px -3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Linha inferior */
section#social a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px 3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 1.7s ease-out;
    
}


section#social a:hover::before {
    background: var(--highlight);
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);

}

section#social a:hover::after {
    background: var(--highlight);
 
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);
}

/** One icon only reference (GitHub) 
section#social a.github:hover::before {
    background: #333;
    box-shadow: 0 -5px 10px rgba(51, 51, 51, 0.5);
}

section#social a.github:hover::after {
    background: #333;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);} /**/


    
    section#details {
        grid-column: 2;
        
    }



    article {
        background-color: var(--card-bg);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    article h2 {
        color: var(--highlight);
        margin-bottom: 10px;
    }



    article#video p {
        padding: 5px;
        border: dashed 1px;
        font-size: 0.75em;
        width: 45vw;        
        margin: 0 auto;        
        text-align: center;
        margin-bottom: 1%;
    }

    .video-container {
        position: relative;
        width: 100%;
        margin: auto;
        aspect-ratio: 16/9;
        transform: rotate(-3.814075deg);
        
    }

    .video-container iframe {
        position: absolute;
        top: center;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        
        z-index: 3;
        
        
    }

    .video-container-layer-1 {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: 
        url('../media/dots/dothatching.png');
        background-size:        100vw;
        background-position:    0% -50%;
        
        
        
        
        
        filter: invert(0.1);
        
        mix-blend-mode:  overlay;
        

        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;
        
        
        pointer-events: none;

    }

    .video-container-layer-2 {
        position: absolute;
        inset: 0;
        z-index: 1;
    
        background-image:
        
        linear-gradient(
         313deg,
        #111111ff 0%,
        #555555ff 25%,
        #111111ff 25%,
        #555555ff 50%,
        #bbbbbbff 50%,
        #ffffffff 75%,
        #bbbbbbff 75%,
        #ffffffff 100%
        ),
        linear-gradient(in hsl , var(--highlight-darkmode-bg), var(--highlight-darkmode))
        ;
        
        
        background-blend-mode:   soft-light, normal;
        background-repeat:  repeat, space;
        background-size:        12.5% 100% , 200vw 100%;
        background-position:    center, center;

        

        
        
        image-rendering: pixelated;
        
        

        
        

        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;



        
        transition: background-size 2s ease;
        
    }


    .video-container-layer-2:hover {
        background-size:        12.5% 160% , 200vw 100%;        
    }

    .video-container::after {
        content: '';
        
        
        box-shadow:
        0px 0px 2px 8px black,
        0px 0px 2px 16px white,
        0px 0px 4px 16px black;

        position: absolute;
        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;
        z-index: 0;
        border-radius: 10px;
        
    }

    .video-container::before {
            content: '';
            box-sizing: border-box;
 
            box-shadow: inset   0vw 0vw     1px   6px     var(--highlight),
                        
                                0vw 0vw     1px   5px     white;

            position: absolute;
            top: center;
            left: 5%;
            width: 90%;
            height: 90%;
            z-index: 3;
            
            
            will-change: transform;
            backface-visibility: hidden;


            pointer-events: none;
            transition: box-shadow 0.5s;
            /* backface-visibility: hidden;
            filter: blur(0.5px); */
        }
    
    .video-container:hover::before {




        box-shadow: inset   0px 0px 0px 0px var(--button-idle),
                    
                            0vw 0vw 1px 5px white;
    }


    #skills-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        
        * {
        transition: 
            width 3s ease,
            height 3s ease,
            transform 3s ease,
            margin 3s ease,
            padding 3s ease;
        }
    }

    


    #skills-container .item {
        display: grid;
        grid-template-columns: 3fr 1fr ;
        padding: 5px 20px 5px 20px;
    }

    #skills-container .info {
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #skills-container .name {
        
        height: 4rem;
        font-weight: bold;
        color: var(--text)
        
    }

    #skills-container .percent-box {
        grid-area: 1 / 2 / 3 / 3;
        position: relative;
        z-index: 0;

        width: 5rem;

        display: flex;
        justify-content: end;
        align-items: start;
        
        justify-self: end;

        transform: scaleY(1.2) skewX(-20deg);
        background-color: var(--highlight);
        
        
        mix-blend-mode: darken;
    }

    #skills-container .percent-box::after {
        content: '';
        position: absolute;
        height: 14%;
        width: 100%;
        top: 45%;
        left: 0px;
        right: 0px ;
        
        
        
        background-image: radial-gradient(circle, var(--card-bg) 2px, transparent 2px);
        background-size: 7px 7px;
        
        animation: scrollGrid 5s linear infinite;
    }

    
    
    #skills-container .percent-wrapper {
        
    }

    #skills-container .percent {

        padding: 5px;
        
        
        font-family: 'Orbitron', sans-serif;
        transform: scaleY(1.5) skewX(-20deg);

        font-size: 22px;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        
    }

    #skills-container .bar {
        position: relative;
        

        transform: skewX(-20deg);
        grid-area: 2 / 1 / 3 / 3;
        
        width: 100%;
        height: 24px;
        
        /* background-color: color-mix(in srgb, var(--button-idle) 70%, transparent); */
        background-color:  var(--button-idle);

        /* border-radius: 8px; */
        border: solid 3px black;
        z-index: 1;
        
    }

    #skills-container .bar::before {
        content: '';
        position: absolute;
        height: 170%;
        width: 100%;
        top: -51%;
        left: 5px;
        right: 0;
        
        

        background-color: #fff;
        border: solid 3px var(--highlight);
        
        
        z-index: -1;
        mix-blend-mode: overlay;
        /* transform: rotate(1deg) skewX(-30deg); */

    }

    #skills-container .progress {        
        
        
        height: 100%;
        
        /* background-color: color-mix(in srgb, var(--highlight-darkmode-extra) 70%, transparent); */
        
        background-color: var(--highlight-darkmode-extra);
        border-radius: 0px;
        box-shadow: inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
                    inset 16px 4px 0px 1px var(--highlight-darkmode);
        
        animation: animaSombras 8s infinite;

        


    }

    #skills-container .item:nth-child(1) .progress { animation-delay: 0s; }
    #skills-container .item:nth-child(2) .progress { animation-delay: 2s; }
    #skills-container .item:nth-child(3) .progress { animation-delay: 4s; }
    #skills-container .item:nth-child(4) .progress { animation-delay: 6s; }



    @media screen and (min-width: 768px) {
        #skills-container {
            grid-template-columns: 1fr 1fr;
            
        }
    }




@keyframes animaSombras {

    0% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }

    10% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }
    
    15% {
        box-shadow:
        inset -8px 4px 0px 0px var(--highlight-darkmode-bg),
        inset -16px -4px 0px 0px var(--highlight-darkmode);
    }
    
    20% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }
}

    




@keyframes scrollGrid {
  0% { background-position: 0 0; }
  100% { background-position: 7px 0px; }
  /* A mágica: quando chega em 30px, volta ao início sem quebra! */
}

<svg width="200" height="200">
  <rect width="100" height="50" transform="rotate(30)" fill="red"/>
</svg>