/*
Variáveis para cores
--main-bg
--text
--text-darkmode
--highlight
--highlight-darkmode
--card-bg

#609AE0
#CAE060
#6B60E0
#E0CD60
#6D6A8B
#545A61

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Orbitron';
    src: url('../media/fonts/Orbitron-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --back-bg: #eee;
    --main-bg: #dcecff;
    --text: #222527;
    --text-darkmode: #fbffe6;
    --highlight: #6B60E0;
    --highlight-50: #6b60e07f;
    --highlight-darkmode: #E0CD60;
    --highlight-darkmode-extra: #CAE060;
    --highlight-darkmode-bg: #e06080;
    --card-bg:#dbdee0;
    --button-idle: #545A61;

    --time-project-scale: 0.75s;
    --time-project-scale-small: 0.2s;

}

@property --opacity {
  syntax: '<number>'; /* <- defined as type number for the transition to work */
  initial-value: 0;
  inherits: false;
}

@keyframes fadeIn {
  50% {--opacity: 1}
}







#test01 {
    
    height: 100px;
    width: 100px;
    background-color: var(--highlight-darkmode);
    display: none;

}

#test01:hover {
    background-color: #6B60E0;
    animation: 2s fadeIn ;        
    background: rgba(100 0 100 / var(--opacity));
}

@keyframes hack {
    0% {border-radius: 0%;}
    20% {border-radius: 100%;}
    100% {border-radius: 0%;}
}




body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--back-bg);
    color: var(--text);
    
}

header {

    background-color: var(--highlight);
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;    
}

nav#menu a {
    text-decoration: none;
    color: var(--text-darkmode);
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 5px;    
    transition: color 0.5s, background-color 0.3s;
}

nav#menu a:hover {
    background-color: var(--highlight-darkmode);
    color: var(--highlight);
}


main {    
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;    
    gap: 20px;
    overflow-x: clip; /* ! ■ ■ ■ CAUTION ■ ■ ■ Isso mata o scroll horizontal */   
}

section#profile {
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    grid-column: 2;
    padding-top: 30px;

}

section#profile img.photo {
  width: 100%; /* 100% wrapper */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 40%;
  border: 10px solid transparent;
  display: block;
  margin: auto; /* remove extra bottom space */
  
}


/* Wrapper que vai receber o pseudo-elemento */
section#profile .profile-photo-wrapper {
  position: relative;  
  width: 240px; /* a largura vai pro wrapper agora */
  display: block;
  margin: auto;
  margin-bottom: 25px;
  pointer-events: none;
}

/* Pseudo-elemento para simular o outline */
section#profile .profile-photo-wrapper::after {
  content: '';
  position: absolute;
  top: -10px;    /* mesmo valor do "outline" que você quer */
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid var(--highlight);
  border-radius: 40%; 
  pointer-events: none;
}

section#profile h1 {
    color: var(--highlight);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: center;
}

section#profile p {
padding: 10px;
margin-bottom: 10px;
text-align: justify;

}

    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/   
    /** SOCIAL CONTAINER ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ **/
    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/


section#social {
    
    display: flex; 
    justify-content: center;
    align-items: center;    
    border-top: 2px solid rgba(0, 0, 0, 0.364);  
    border-bottom: 2px solid rgba(0, 0, 0, 0.364);
    transform: scale(1.0);
    box-shadow:  0 0 2px rgba(50, 50, 50, 0.5),
                inset 0 0 5px rgba(50, 50, 50, 0.5);
    background-color: rgba(0, 0, 0, 0.045);
    transition: transform 1.2s ease-out, background-color 1.2s ease, box-shadow 1.2s ease-out;    
}


svg.icon {
  width: clamp(36px,10vw,50px);
  height: clamp(36px,10vw,50px);
  vertical-align: middle;
  justify-content: center;
  padding: 8px;
  
  transition: color 0.3s ease;
}

section#social:has(a:hover) {
    transform: scale(1.015);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5),
        inset 0px 0px 25px 5px  rgba(95, 95, 95, 0.274);

    background-color: rgba(249, 249, 249, 0.211);
    transition: transform .2s ease-in, background-color 0.35s ease, box-shadow .5s ease-out;
}


a svg.icon {
    color: var(--button-idle);    
}

a svg.icon:hover {
    color: var(--highlight);    
 }

 section#social a {
    text-decoration: none;
    position: relative;
 }

 /* Linha superior */
section#social a::before {
    content: '';
    position: absolute;
    top: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px -3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Linha inferior */
section#social a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* alinha com borda do pai */
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    box-shadow: 0px 3px 0px 2px var(--highlight-darkmode);
    transition: transform 1.7s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 1.7s ease-out;
    
}


section#social a:hover::before {
    background: var(--highlight);
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);

}

section#social a:hover::after {
    background: var(--highlight);
 
    transform: scaleX(1.2);
    transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.1s cubic-bezier(0.45, 0, 0.55, 1);
}

/** One icon only reference (GitHub) 
section#social a.github:hover::before {
    background: #333;
    box-shadow: 0 -5px 10px rgba(51, 51, 51, 0.5);
}

section#social a.github:hover::after {
    background: #333;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5);} /**/


    
    section#details {
        grid-column: 2;
        
    }



    article {
        background-color: var(--card-bg);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    article h2 {
        color: var(--highlight);
        margin-bottom: 30px;
        text-align: center;
    }

    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/
    /** VIDEO CONTAINER ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ **/
    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/

    article#video p {
        padding: 5px;
        border: dashed 1px;
        font-size: 0.75em;
        width: 45vw;        
        margin: 0 auto;        
        text-align: center;
        margin-bottom: 1%;
    }

    .video-container {
        position: relative;
        width: 100%;
        margin: auto;
        aspect-ratio: 16/9;
        transform: rotate(-3.814075deg);
        
    }

    .video-container iframe {
        position: absolute;
        top: center;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        
        z-index: 3;
        
        
    }

    .video-container-layer-1 {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: 
        url('../media/dots/dothatching.png');
        background-size:        100vw;
        background-position:    0% -50%;
        
        
        
        
        
        filter: invert(0.1);
        
        mix-blend-mode:  overlay;
        

        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;
        
        
        pointer-events: none;

    }

    .video-container-layer-2 {
        position: absolute;
        inset: 0;
        z-index: 1;
    
        background-image:
        
        linear-gradient(
         313deg,
        #111111ff 0%,
        #555555ff 25%,
        #111111ff 25%,
        #555555ff 50%,
        #bbbbbbff 50%,
        #ffffffff 75%,
        #bbbbbbff 75%,
        #ffffffff 100%
        ),
        linear-gradient(in hsl , var(--highlight-darkmode-bg), var(--highlight-darkmode))
        ;
        
        
        background-blend-mode:   soft-light, normal;
        background-repeat:  repeat, space;
        background-size:        12.5% 100% , 200vw 100%;
        background-position:    center, center;

        

        
        
        image-rendering: pixelated;
        
        

        
        

        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;



        
        transition: background-size 2s ease;
        
    }


    .video-container-layer-2:hover {
        background-size:        12.5% 160% , 200vw 100%;        
    }

    .video-container::after {
        content: '';
        
        
        box-shadow:
        0px 0px 2px 8px black,
        0px 0px 2px 16px white,
        0px 0px 4px 16px black;

        position: absolute;
        top: -5%;
        left: -50%;
        width: 200%;
        height: 100%;
        z-index: 0;
        border-radius: 10px;
        
    }

    .video-container::before {
            content: '';
            box-sizing: border-box;
 
            box-shadow: inset   0vw 0vw     1px   6px     var(--highlight),
                        
                                0vw 0vw     1px   5px     white;

            position: absolute;
            top: center;
            left: 5%;
            width: 90%;
            height: 90%;
            z-index: 3;
            
            
            will-change: transform;
            backface-visibility: hidden;


            pointer-events: none;
            transition: box-shadow 0.5s;
            /* backface-visibility: hidden;
            filter: blur(0.5px); */
    }
    
    .video-container:hover::before {

        box-shadow: inset   0px 0px 0px 0px var(--button-idle),
                    
                            0vw 0vw 1px 5px white;
    }


    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/
    /** SKILLS CONTAINER ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ **/
    /** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/ 

    #skills-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    #skills-container .item {
        position: relative;
        display: grid;
        grid-template-columns: 3fr 1fr ;

    }

    #skills-container .item .description {
        
        position: absolute;
        grid-area: 1/1/2/3;
        

        align-self: end;
        
        left: 8%;
        width: 94%;

        
        font-size: 1em;
        
        color: var(--text);
        z-index: 5;
        
        max-height: 100%;
        overflow-y: auto;

        transform: skewX(-10deg) scaleY(0);
        
        transition: transform 0.2s ease-in;

        scrollbar-width: thin;
        scrollbar-color: var(--highlight) var(--highlight-darkmode-extra);
        scroll-behavior: auto;
        overscroll-behavior: contain;
        scrollbar-gutter: stable;
        /* scroll-snap-* (reference)*/
    }


    /*
    .skills-container .item .description::-webkit-scrollbar {
        width: 60px;        
    }

    .skills-container .item .description::-webkit-scrollbar-track {
        background: red;
    }

    .skills-container .item .description::-webkit-scrollbar-thumb {
        background: var(--highlight);
        border-radius: 10px;
    }
    */



    #skills-container .item:focus .description {
            
        transform: skewX(-10deg) scaleY(1);    
        transition: transform 0.2s ease-out;  
        
    }



    #skills-container .info {
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #skills-container .skill-tittle-box {
        
        
        
        height: 4rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        
        
        
    }

    #skills-container .skill-tittle {
        
        padding-bottom: 1em;
        padding-left: 1.5em;
        
        font-weight: bold;
        color: var(--text);
        
        
    }

    #skills-container .percent-box {
        grid-area: 1 / 2 / 3 / 3;
        position: relative;
        z-index: 0;

        width: 5rem;

        display: flex;
        justify-content: end;
        align-items: start;
        
        justify-self: end;

        transform: scaleY(1.2) skewX(-20deg) scaleX(1);
        background-color: var(--highlight);
        
        
        
        transition:  width 0.2s ease-out , transform 0.2s ease-out;

        overflow: hidden;
    }

    #skills-container .item:focus .percent-box {
        width: 400%;
        transform: scaleY(1.3) skewX(-12deg);
    }



    /*
        mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'><circle cx='6' cy='6' r='6' fill='white'/></svg>") repeat;
        background-color: var(--card-bg);*/

        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6'%3E%3Cdefs%3E%3Cpattern id='d' width='6' height='6' patternUnits='userSpaceOnUse'%3E%3Ccircle cx='3' cy='3' r='2' fill='%23fa0'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23d)'/%3E%3C/svg%3E");
        */

    

    #skills-container .percent-box::after {
        content: '';
        position: absolute;
        height: 13%;
        width: 200%;
        top: 45%;
        left: 0px;
        right: 0px;

        
        
        mask-image:
        url(../media/dots/dot-line-s12-x240-y12-p2-currentColor.svg),
        url(../media/dots/dot-line-s12-x240-y12-p2-currentColor.svg);
        mask-size: 64px;
        mask-repeat: repeat, repeat;
        mask-position: -64px 0, 0px 0;
        
        background-color: var(--card-bg);
        transform: translateX(0);
        
        
        opacity: 1;
        transition: opacity 0.2s;
        animation: scrollGrid 22s linear infinite;      
        
    }

    #skills-container .item:focus .percent-box::after {
                
        transition: opacity 0.2s;
        opacity: 0;

    }

    @keyframes scrollGrid {
        0% { transform: translateX(0);}
        100% { transform: translateX(-64px);}
    }

    #skills-container .percent-box .dot-grid-open {

        position: absolute;
        height: 55%;
        width: 20%;
        top: 7%;

        
        left: 0;
        right: 80%;

        
        
        mask-image:
        url(../media/dots/dot-line-s12-x240-y12-p2-currentColor.svg),
        url(../media/dots/dot-line-s12-x240-y12-p2-currentColor.svg);
        mask-size: 64px;
        mask-repeat: repeat, repeat;
        mask-position: -64px 0, 0px 0;
        
        background-color: var(--card-bg);
        transform: translateX(0);

        
        animation: scrollGrid 22s linear infinite;
        
        opacity: 0;
        transition: all 0.2s;
        
    }

    #skills-container .item:focus .percent-box .dot-grid-open {
              
        
        transform: translateX(0);
        opacity: 1;
        transition: opacity 0.2s ease-in;
        

    }

    

    
    #skills-container .percent-wrapper {
        
    }



    #skills-container .percent {

        padding: 5px;
        
        
        font-family: 'Orbitron', sans-serif;
        transform: scaleY(1.5) skewX(-20deg);

        font-size: 22px;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        
        
        transition: transform 0.2s;
    }

    #skills-container .item:focus .percent {
        transform: scaleY(0) skewX(-20deg);
    }

    #skills-container .bar {
        position: relative;
        

        transform: skewX(-20deg);
        grid-area: 2 / 1 / 3 / 3;
        
        width: 100%;
        height: 24px;
        
        /* background-color: color-mix(in srgb, var(--button-idle) 70%, transparent); */
        background-color:  var(--button-idle);

        /* border-radius: 8px; */
        border: solid 3px black;
        z-index: 1;
        transition: transform 0.2s ease;

       
        
    }

    #skills-container .item:focus .bar {
       transform: skewX(-12deg);
    }

    #skills-container .bar::before {
        content: '';
        position: absolute;
        height: 170%;
        width: 100%;
        top: -51%;
        left: 1.8%;
        right: 0;
        
        
        background-image: repeating-linear-gradient(45deg, #FFFFFFAA, #FFFFFFCC 10%, #FFFFFFEE 20%,#FFFFFFCC 30%, #FFFFFFAA 40%),
        url(../media/dots/dothatching.png);

        background-size: 216px auto;
        
        background-position: right -100px top -14%;
        
        background-repeat: no-repeat;
        

        background-color: #fff;
        
        border: solid 3px var(--highlight);
        
        
        z-index: -1;
        mix-blend-mode: overlay;
        transform: skewX(0deg);

        transition: 
        height              0.2s ease-in,
        top                 0.2s ease-in,
        transform           0.2s ease-in,
        background-position 0.2s ease-in;
        
    }

    #skills-container .item:focus .bar::before {        
        
        
        
       
        height: 570%;
        top: -430%;
        transform: skewX(2.5deg);
        background-position: right -100px top -14%;


        transition: 
        height              0.2s ease-in,
        top                 0.2s ease-in,
        transform           0.2s ease-in,
        background-position 0.2s ease-in;
        
    }

    #skills-container .progress {        
        
        
        height: 100%;
        
        /* background-color: color-mix(in srgb, var(--highlight-darkmode-extra) 70%, transparent); */
        
        background-color: var(--highlight-darkmode-extra);
        border-radius: 0px;
        
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
        
        animation: animaSombras 8s infinite;
        transition: all 0.3s ease;
    }

    #skills-container .item:focus .progress {
        background-color: var(--highlight);            
        box-shadow:
        inset 8px -4px 0px 1px var(--text),
        inset 16px 4px 0px 1px var(--highlight-50);
        animation: none;
      
    }

    #skills-container .percent-front {
        position: absolute;
        justify-content: end;
        top: -15%;
        right: 0%; 

        font-family: 'Orbitron', sans-serif;
        font-size: 120%;
        text-align: right;
        color: var(--main-bg);
        
        text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
        padding-left: 2%;
        padding-right: 2%;

        
        transform: scaleY(0) ;   /* ponto de partida */
        transition: transform 0.2s;
    }



    #skills-container .item:focus .percent-front  {
        transform: scaleY(1);
        transition: transform 0.2s;
    }







/* Opcional: Adiciona um feedback visual ao item inteiro */
.item:focus-within {
  /* *    outline: solid 5px var(--highlight-50);    */

}





    #skills-container .item:nth-child(1) .progress { animation-delay: 0s; }
    #skills-container .item:nth-child(2) .progress { animation-delay: 2s; }
    #skills-container .item:nth-child(3) .progress { animation-delay: 4s; }
    #skills-container .item:nth-child(4) .progress { animation-delay: 6s; }



@keyframes animaSombras {

    0% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }

    10% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }
    
    15% {
        box-shadow:
        inset -8px 4px 0px 0px var(--highlight-darkmode-bg),
        inset -16px -4px 0px 0px var(--highlight-darkmode);
    }
    
    20% {
        box-shadow:
        inset 8px -4px 0px 1px var(--highlight-darkmode-bg),
        inset 16px 4px 0px 1px var(--highlight-darkmode);
    }
}

/** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/
/** MY PROJECTS CONTAINER ■■■■■■■■■■■■■■■■■ **/
/** ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ **/

#projects-general-container {
    display: grid;
    grid-column: 1fr;
    gap: 4%;
    
}

.project-container {
    box-sizing: border-box;
    position: relative;
    display: grid;
    aspect-ratio: 20/11;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: var(--main-bg);
    border: solid 0px red;   
}

.project-container > * {
    position: absolute;
    overflow: hidden;
}

/* /* 78.75 graus 
.project-container .project-head {
    grid-area: 1/1/5/-1;
    
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5),
        inset 0px 0px 10px 10px  rgba(222, 222, 222, 0.602),
        0px 0px 0px 5px white;

    background-color: var(--back-bg);
    

    


    
    
    height: clamp(20px, 3rem, 80px);
    width: 100%;
    

        transform: skewX(14.03624347deg);

        background-image:
            repeating-linear-gradient(45deg, #FFFFFFAA, #FFFFFFCC 10%, #FFFFFFEE 20%,#FFFFFFCC 30%, #FFFFFFAA 40%),
            url(../media/dots/dothatching.png);
        background-size: 216px auto;
        background-position: right -40px top 20%;
        background-repeat: no-repeat;
        

        background-color: #fff;
        
        border: solid 3px var(--highlight);
        
       
        z-index: 4;
        display: block;
        flex-direction: column;
        
        

        
       
}*/

/*max-width: 100%;
overflow-x: auto;
white-space: nowrap;*/

/*
.project-container .project-year, .project-tittle {
font-size: clamp(12px, 3vw, 20px);
align-self: center;
text-align: center;
padding: 2px;

}
*/

.project-container .project-year {
grid-area: 1/1/2/11;
background-color: var(--highlight);
width: 100%;
height: 100%;
z-index: 4;

transform: skewX(14.03624347deg) scaleY(1) ;


display: flex;
justify-content: center;
container-type: inline;

transition: transform var(--time-project-scale-small) ;


}

.project-container:focus .project-year
{
    
    transform: skewX(14.03624347deg) scaleY(0) ;
    padding: 0;

    
    
    
}

.project-container .project-year > span {
align-content: center;
color: var(--back-bg);
font-size: 3cqi;
transform: scaleY(0.8) translateY(0);


}



.project-container .project-tittle-container {
grid-area: 2/1/4/-1;
width: 100%;
height: 100%;
z-index: 3;
transform: skewX(14.03624347deg) scaleY(1);

box-shadow:
    0 0 5px rgba(50, 50, 50, 0.5),
    inset 0px 0px 10px 10px  rgba(222, 222, 222, 0.602),
    0px 0px 0px 5px white,
    0px 0px 1px 7px black;

background-image:
    repeating-linear-gradient(45deg, #FFFFFFEE, #FFFFFFDD 10%, #FFFFFFCC 20%,#FFFFFFDD 30%, #FFFFFFEE 40%),
    url(../media/dots/dothatching.png);
background-size: clamp(200px, 40%, 500px);

background-position: right -10% top 20%;
background-repeat: no-repeat;


background-color: #fff;        
border: solid 3px var(--highlight);
        
display: flex;
justify-content: center;
container-type: inline-size;

transition: transform var(--time-project-scale-small) ;

}

.project-container:focus .project-tittle-container
{
transform: skewX(14.03624347deg) scaleY(0);
}

.project-container .project-tittle-text {
    align-content: center;
    /*font-size: clamp(10rem);*/
    font-size: 4cqi;
}



.project-container .project-info {
    grid-area: 1/1/2/2;
    overflow: hidden;
    
    padding: 4px;    
    height: 100%;  

    transition: border-color 0.5s, border-width 0.5s;
    z-index: 2;

    background-color: yellow;
}

.project-container .project-details-bg {
    grid-area: 3 / 1 / -1 / -1 ;
    position: absolute;    

    width: 200%;
    right: -50%;
    height: 100%;
   
    

    --grad-var: 1;

    background-image:
    linear-gradient(rgba(0, 0, 0, 1) 0 ,rgba(0, 0, 0, 0.3) 50% ,rgba(0, 0, 0, 1) 100%),
    repeating-linear-gradient(78.75deg, rgba(0, 0, 0, 0.8) 0 1.8%, black, var(--highlight) 2% 4%, black 4.1% 4.2%),
    url(../media/dots/Halftone-Effect-Background.svg),
    linear-gradient( in hsl 180deg, var(--highlight-darkmode-bg) 0,  var(--highlight) 50%, black 100%); 
    
    background-size: 100%, 100%, 45%, 100% 100%;
    background-blend-mode: normal,screen,normal,normal;
    background-position: 0px 0px,0px 0px, 0px 0px, left;
    
}

.project-container .project-details-bg .project-details-text {
    color: var(--text);
    background-color: var(--back-bg);
    box-shadow: inset 0 0 50px 5px var(--main-bg),
                0 0 3px black;
                
    padding: 4px;        
    border-radius: 8px;

    position: absolute;
    


    height: 65%;    
    top:30%;
    
    overflow: auto;

    width: 44%;
    left: 29%;

    
    z-index: 0;


    
    
    
    
    opacity: 0;
    transition: opacity 2s ;

    
}

.project-container:focus .project-details-bg .project-details-text {
    

    z-index: 8;
    opacity: 1;

}



.project-container .project-details-text {

}

.project-container .picture {
    aspect-ratio: 16/9;    
    grid-area: 3/3/-1/-3;
    width: 100%;
    height: 100%;   
    
    object-fit: contain;
    
    position: absolute;
    filter: sepia(0.8) saturate(2) hue-rotate(-130deg) brightness(2) ;
    transform: scale(1) translateY(0%);
    transition:  filter 0.5s ease-in, transform var(--time-project-scale) ;

    box-shadow: 0 0 0 10px white;
}


.project-container:focus .project-pic-border ~ .picture
{
   filter: sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
   transition:  filter 0.5s ease-out, transform var(--time-project-scale);   
   transform: scale(0.5) translateY(-100%);
   z-index: 5;

    

}

.project-container .project-pic-border:hover ~ .picture
{
    filter: sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
   transition: filter 0.5s ease-out, transform var(--time-project-scale);
}

.project-container .picture-texture {
    aspect-ratio: 16/9;    
    grid-area: 3/3/-1/-3;
    width: 100%;
    height: 100%;   
    
    object-fit: contain;
    background-image:
    url(../media/dots/dothatching.svg),    
    url(../media/dots/dothatching.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: -70% 100%, 170% -100% ;
    /*background-position: -50% -50%, right -50% bottom -250%;*/

    filter: invert(1);
    mix-blend-mode: overlay;
    transition: filter 2s, background-position 2s ease, transform var(--time-project-scale);


}


.project-container .project-pic-border:hover ~ .picture-texture
{
    background-position: -100% 70%, 200% -70% ;
    filter: invert(1);
    transition: filter 2s, background-position 2s ease, transform var(--time-project-scale);

}

.project-container:focus .project-pic-border ~ .picture-texture
{
    background-position: -100% 70%, 200% -70% ;
    filter: invert(1);
    transition: filter 2s, background-position 2s ease, transform var(--time-project-scale);
    transform: scale(0.5) translateY(-100%);
    z-index: 6;
}





/* vidro
.project-container .project-layer-02 {
grid-area: 1/1/-1/-1;
background: rgba(219, 219, 219, 0.373);
            box-shadow: inset 0px 0px 3px 4px rgba(255, 255, 255, 0.399);
z-index: 5;
height: 100%;
width: 100%;

transform: skewX(12deg);
}
*/


.project-container .project-pic-border {
    
    position: absolute;
    grid-area: 3/3/-1/-3;
    opacity: 100%;


    width: 200%;
    right: -50%;

    height: 100%;
    
    z-index: 2;
    
    
    border: solid 2px black;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.444),
                0 0 0 8px white,
                0 0 0 10px black,            
                0 0 0 18px var(--highlight),
                0 0 0 20px black;
}

.project-container .project-pic-bg {
    --grad-var: 1;
    
    position: absolute;

    background-image:
    repeating-linear-gradient(78.75deg, rgba(255, 255, 255, 0.8) 0 1.8%, black, var(--highlight) 2% 4%, black 4.1% 4.2%),
    url(../media/dots/Halftone-Effect-Background.svg),
    linear-gradient( in hsl 180deg, var(--highlight-darkmode-bg) 0,  var(--highlight) 50%, black 100%); 
    
    background-size: 100%, 45%, 100% 100%;
    background-blend-mode: screen,normal,normal;
    background-position: 0px 0px, 0px 0px, left;
    
    mask-image: linear-gradient(78.75deg, black 0 30%, transparent 30.2% 69.8%, black 70% 100%);
    
    mask-size: 100% 100%;
    mask-repeat: repeat, repeat;
    mask-position: 0 0, 0px 0;    

    height: 100%;
    width: 100%;

    transition: transform var(--time-project-scale), background-position 2.2s;

    
}

.project-container .project-pic-bg:hover {
     background-position: 70px 0px, 20px 0px, left;
}

.project-container:focus .project-pic-bg {
     transform: scale(1.5);
     transition: transform var(--time-project-scale), background-position 2.2s;

}


.project-container .project-pic-side {
    

background-image: linear-gradient(
78.75deg,
#000000EE 0% 10%,
transparent 25%,
#000000EE 33% 67%,
transparent 75%,
#000000EE 90% 100%
);

background-size: 100% 100%;

height: 100%;
width: 100%;
}

/*
@media screen and (min-width: 768px) {
        #skills-container {
            grid-template-columns: 1fr 1fr;
        }

        .project-container {
            aspect-ratio: 16/9;
            width: 100%;
            grid-template-columns: repeat(18, 1fr);
            grid-template-rows: repeat(11, 1fr);
            overflow: hidden;
        }

        .project-container .project-head {
            grid-area: 1 / -5 / 3 / -1;            
        }

        .project-container .project-layer-01 {
            
            z-index: 5;
            grid-area: 8 / 3 / 10 / -3;
            border-radius: 15px;

            background: rgba(219, 219, 219, 0.373);
            box-shadow: inset 0px 0px 3px 4px rgba(255, 255, 255, 0.399);

        }

        .project-container .project-layer-02 {
            
            z-index: 4;
            transform: skewY(20deg);
            grid-area: 1 / 1 / -1 / -1;
            
            

            background: rgba(19, 19, 0, 0.45);
            box-shadow: inset 0px 0px 3px 4px rgba(255, 255, 255, 0.399);
            mix-blend-mode: darken;
            transition: all 1s ease;
        }

        .project-container .project-layer-02:hover {
            
            
            

        }

        .project-container .picture {
            grid-area: 2 / 2 / -2 / -2 ;
            aspect-ratio: 16/9;
            height: 100%;            
        }

    }




/* <svg width="200" height="200">
  <rect width="100" height="50" transform="rotate(30)" fill="red"/>
</svg> */